# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://supabase.com/dashboard/project/dscsafyorhjsqhyfmqrt
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_wmvEaJeSSQk6YzuhkKctNg_1JVzuqub
SUPABASE_SERVICE_ROLE_KEY=sb_secret_43BhnT41SjO4DXzVYClyNg_-CI0PT3_

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_test_51T4IffLeY0m6u82FNFA5KQOc6urtWB6KMMO1elBVat3VgTvSdonriw3xHYryBCxtmfaiVYD7eKWbj1e4HQiwe68z00lbjRJZG4
STRIPE_SECRET_KEY=sk_test_51T4IffLeY0m6u82FGLi2I1aKvlL2JanxzNpGKLAQQRzNX6sipcLL7LjOmhcqIGr7oVPULOinPsAZsa0ZgK3XDcbg00DuxpewjP
STRIPE_WEBHOOK_SECRET=whsec_26pbSsEMeg58MrpT5UC0Fz3EVoUMe1ag
NEXT_PUBLIC_STRIPE_PRICE_STARTER=price_1T4Ik4LeY0m6u82Fb0AVd3zS
NEXT_PUBLIC_STRIPE_PRICE_PRO=price_1T4IkcLeY0m6u82FdKAT2mkN

# Twilio
TWILIO_ACCOUNT_SID=AC64f0eeefc19cc3f72c965c6ec51ea937
TWILIO_AUTH_TOKEN=411b3c6c07765f8e0a450f65d0ebb3c3
TWILIO_PHONE_NUMBER=+12078433558


# Resend
RESEND_API_KEY=re_CDetNTRS_CDYf3A5NV1LL4vgm2JnejkGQ

# Groq (for AI message generation)
GROQ_API_KEY=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

# Cron job secret
CRON_SECRET=your_random_secret_key_here

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
